@{
    ViewBag.Title = "關於";
}
<h2>關於我們</h2>
<h3>高應富士通科技股份有限公司</h3>

<h2>（一）、公司背景</h2>
<p>
    高應富士通科技股份有限公司，為一安全監控產業製造商，產品於台灣研發生產並銷售於台灣及歐美等地，85%為外銷，內銷僅15%，部分歐美國家對於安全防護的要求更高也更普及，例如：美國，澳洲等，而有些正開發中國家也正對此產業需求日增，例如：巴西，印度，東協等國；安全監控產業應用產品項目多，故公司也生產銷售極多樣產品，方便客戶集中採購，節省作業及運輸成本，產品包括有監視器/攝影機/數位錄影機/網路攝影機及相關配件等，因產業特性以及此行業客戶習慣，產品無法大量標準生產，故公司採取接單式生產為主。
</p>
<h2>（二）、公司願景</h2>
<p>
    主要員工都在此產業有15年以上工作經驗但此公司成立僅有8年時間，故公司作業運作仍未全面電腦化，雖然如此，但公司持有自己的運作模式可讓公司持續發展，但他們仍希望能精益求精的在管理層面多作改善，也預計開發更多內銷業務，不只銷售於國外也希望在國內市場佔上一席，畢竟台灣市場在安控產業上有極大發展空間；在業務發展同時，公司也希望將所有制度全面審視並將其完善。
</p>
<h2>（三）、經營理念</h2>
<p>
    顧客至上，事前與顧客反覆溝通討論，必須清楚了解與確認顧客需求，接單後能有效率地找出零件並且生產，並在最短的時間內送達顧客手中，若有任何問題將到府回收商品，自行吸收成本，再將正確的商品交達顧客，給予客製化與品質保障的服務。
</p>
<h2>（四）、營業項目</h2>
<p>
    壹、資訊軟體批發業
    貳、電子材料批發業
    參、資訊軟體服務業
    肆、資料處理服務業
    伍、電腦及事務性機器設備批發業
    陸、電子資訊供應服務業
    柒、國際貿易業
</p>