@{
    ViewBag.Title = "Contact";
}
<h2>聯絡我們</h2>

<address>
    Kaohsiung City 824, Taiwan (R.O.C.)<br />
    No.58, Shenzhong Rd., Yanchao Dist.<br />
    <abbr title="Phone">P:</abbr>
    3067788
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>