@model IEnumerable<KUASCYCLAB.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>最新資訊</h1>
    <p class="lead">最新商品供應</p>
</div>

<div class="row">
    @{
        var count = 0;
    }
    @foreach (var item in Model)
    {
        if (count > 5) { break; }
        else
        {
            count++;
            <div class="col-md-4">
                <h2 class="spielbox">@item.ProductName</h2>
                <p>
                    <button id="edit" type="button" class="btn btn-group-vertical" onclick="location.href = '@Url.Action("Details","Product",new { id = item.ProductID })'; return false;">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    
                </p>
            </div>
        }



    }

</div>